[submodule ".solarized"]
	path = .solarized
	url = https://github.com/HeSYINUvSBZfxqA/solarized.git
[submodule ".irssi"]
	path = .irssi
	url = https://github.com/HeSYINUvSBZfxqA/irssi-colors-solarized.git
