#!/usr/bin/env ruby

layout '*', :erb

compile %r{^/(img|css|js)/} do
	# do nothing
end

route %r{^/(img|css|js)/} do
	item.identifier.chop + ".#{item[:extension]}"
end

compile '*' do
	if item[:filters_pre] && !item[:filters_pre].empty? then
		item[:filters_pre].each do |f|
			filter f.to_sym
		end
  end

  case item[:extension]
  when 'md','markdown' then
    filter :redcarpet
  end

  layout 'default'
end

route "/" do
  "/index.html"
end

route '*' do
	item.identifier.chop + '.html' 
end
